# pgvector DB
VECTOR_DB_HOST=localhost
VECTOR_DB_NAME=vector_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432

# Ollama
OLLAMA_URL=http://localhost:11434
EMBEDDING_MODEL=nomic-embed-text

# Kafka
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
